:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-black-25: #00000040;
    --color-primary: #081A38;
    --color-primary-100: #0D2D62;
    --color-red: #E4002B;
    --color-grey: #E8E9EE;
    --color-border: #8589945C;
    --color-main-bg: #F3F4F8;

    --btn-bg-primary: linear-gradient(90deg, #071C39 0%, #194B8E 49.52%, #071C39 100%);
    --btn-bg-secondary: linear-gradient(90deg, #AC0121 0%, #E4002B 49.52%, #AC0121 100%);

    --font-primary: 'TikTok Sans', sans-serif;
    --container: 1440px;
    --pad: 16px;
}