.about-info {

    &__inner {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        min-height: 520px;
        padding: 148px 140px;
        border-radius: 28px;
        overflow: hidden;
        background: url('../img/about/about-bnr.png') center right / cover no-repeat;

        @media screen and (max-width: 991.98px) {
            padding: 40px 24px;
            min-height: 400px;
            border-radius: 20px;
        }
    }

    &__desc {
        max-width: 570px;
        width: 100%;
    }

    &__title {
        margin-bottom: 24px;
    }

    &__text {
        max-width: 470px;
    }
}

.about-services {

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 64px;
        padding: 64px 64px 64px 40px;
        background-color: var(--color-grey);
        border-radius: 28px;

        @media screen and (max-width: 1279.98px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 40px;
            padding: 40px;
        }

        @media screen and (max-width: 767.98px) {
            padding: 32px 20px;
            gap: 24px;
            border-radius: 20px;
        }
    }

    &__head {
        max-width: 390px;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        gap: 80px;
        flex-grow: 1;

        @media screen and (max-width: 1279.98px) {
            width: 100%;
            grid-template-columns: repeat(2, 1fr);
            gap: 40px;
        }

        @media screen and (max-width: 767.98px) {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }

    &__col {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        gap: 30px;

        @media screen and (max-width: 1279.98px) {
            gap: 24px;
        }

        @media screen and (max-width: 767.98px) {
            gap: 16px;

            +.about-services__col {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background: linear-gradient(90deg, #E0E3EB 0%, #E4002B 50%, #E0E3EB 100%);
                }
            }
        }
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 16px;

        @media screen and (max-width: 767.98px) {
            padding-top: 16px;
        }

        +.about-services__item {
            position: relative;
            padding-top: 30px;

            @media screen and (max-width: 1279.98px) {
                padding-top: 24px;
            }

            @media screen and (max-width: 767.98px) {
                padding-top: 16px;
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background: linear-gradient(90deg, #E0E3EB 0%, #E4002B 50%, #E0E3EB 100%);
            }
        }

        &-num {
            min-width: 70px;
            text-align: right;
            font-size: 44px;
            line-height: 1.2;
            font-weight: 600;
            color: var(--color-red);

            @media screen and (max-width: 1279.98px) {
                font-size: 32px;
                min-width: 50px;
            }
        }

        &-title {
            font-size: 18px;
            line-height: 1.2;
            font-weight: 600;

            @media screen and (max-width: 767.98px) {
                font-size: 16px;
            }
        }
    }
}

.about-employee {

    &__inner {
        display: flex;
        align-items: stretch;
        gap: 16px;

        @media screen and (max-width: 991.98px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__bnr {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: auto;
        border-radius: 28px;
        padding: 40px;
        color: var(--color-white);
        z-index: 1;
        overflow: hidden;

        @media screen and (max-width: 1279.98px) {
            border-radius: 20px;
        }

        @media screen and (max-width: 991.98px) {
            padding: 40px 20px;
        }

        &-title {
            max-width: 520px;
        }

        &-img {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            inset: 0;
            z-index: -1;
        }

        img {

            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__info {
        width: 536px;
        flex-shrink: 0;
        padding: 50px;
        background-color: var(--color-grey);
        border-radius: 28px;

        @media screen and (max-width: 1279.98px) {
            width: 400px;
            border-radius: 20px;
            padding: 40px;
        }

        @media screen and (max-width: 991.98px) {
            width: 100%;
        }

        @media screen and (max-width: 991.98px) {
            padding: 20px;
        }
    }

    &__head {
        max-width: 240px;
        font-size: 18px;
        line-height: 1.1;
        font-weight: 600;
        margin-bottom: 90px;

        @media screen and (max-width: 991.98px) {
            font-size: 16px;
            margin-bottom: 40px;
        }

        span {
            display: block;
            font-size: 80px;
            color: var(--color-red);

            @media screen and (max-width: 991.98px) {
                font-size: 56px;
            }
        }
    }

    &__desc {
        max-width: 365px;

        @media screen and (max-width: 767.98px) {
            font-size: 14px;
        }

        +.about-employee__desc {
            position: relative;
            margin-top: 40px;
            padding-top: 40px;

            @media screen and (max-width: 991.98px) {
                padding-top: 24px;
                margin-top: 24px;
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background: linear-gradient(90deg, #E0E3EB 0%, #E4002B 50%, #E0E3EB 100%);
            }
        }
    }
}