.blog {

    &__articles {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-flow: dense;
        gap: 16px;

        @media screen and (max-width: 991.98px) {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        @media screen and (max-width: 767.98px) {
            gap: 8px;
        }
    }
}

.blog-main-article {
    grid-column: span 3;
    grid-row: span 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding: 24px;
    border-radius: 24px;
    z-index: 1;
    overflow: hidden;

    @media screen and (max-width: 991.98px)  {
        min-height: 400px;
        padding: 20px;
        border-radius: 16px;
    }

    &__bg {
        position: absolute;
        inset: 0;
        z-index: -1;
        display: block;
        width: 100%;
        height: 100%;

        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    &__date {
        font-size: 16px;
        line-height: 1.32;
        margin-bottom: 24px;
        color: var(--color-white);

        @media screen and (max-width: 767.98px) {
            font-size: 14px;
            margin-bottom: 20px;
        }
    }

    &__title {
        font-size: 24px;
        line-height: 1.1;
        font-weight: 600;
        color: var(--color-white);
        margin-bottom: 12px;

         @media screen and (max-width: 767.98px)  {
            font-size: 20px;
         }
    }

    &__desc {
        max-width: 300px;
        font-size: 16px;
        line-height: 1.32;
        color: var(--color-white);

        @media screen and (max-width: 767.98px)  {
            font-size: 14px;
        }
    }

    &__btn {
        display: inline-block;
        width: auto;
        font-size: 16px;
        line-height: 1.1;
        font-weight: 600;
        color: var(--color-white);
        text-align: center;
        padding: 9px 31px;
        border-radius: 32px;
        border: 1px solid var(--color-red);
        margin-top: auto;
        margin-left: auto;
        transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out, border-color 0.25s ease-in-out;

        @media screen and (max-width: 767.98px) {
            width: 100%;
        }
        
        @media (any-hover: hover) {
            &:hover {
                background-color: var(--color-red);
                color: var(--color-white);
            }
        }
    }
}

.blog-article {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 12px;
    align-items: flex-start;
    padding: 24px;
    border-radius: 24px;
    background-color: #E8E9EE;

        @media screen and (max-width: 1199.98px) {
            grid-column: span 3;
        } 

        @media screen and (max-width: 991.98px)  {
            padding: 20px;
            border-radius: 16px;
        }

        @media screen and (max-width: 767.98px)  {
            display: flex;
            flex-direction: column;
        }

    &--span-3 {
        grid-column: span 3;
    }

    &--row-2 {
        grid-row: span 2;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__date {
        font-size: 16px;
        line-height: 1.32;
        margin-bottom: 24px;

        @media screen and (max-width: 767.98px) {
        font-size: 14px;
        margin-bottom: 20px;
        }
    }

    &__title {
        font-size: 20px;
        line-height: 1.1;
        font-weight: 600;
        margin-bottom: 12px;

        @media screen and (max-width: 767.98px) {
            font-size: 16px;
        }
    }

    &__desc {
        font-size: 14px;
        line-height: 1.32;
    }

    &__btn {
        display: inline-block;
        width: auto;
        font-size: 16px;
        line-height: 1.1;
        font-weight: 600;
        text-align: center;
        padding: 9px 31px;
        border-radius: 32px;
        border: 1px solid #8589945C;
        transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out, border-color 0.25s ease-in-out;

        @media screen and (max-width: 767.98px) {
            width: 100%;
        }

        @media (any-hover: hover) {
            &:hover {
                background-color: var(--color-red);
                border-color: var(--color-red);
                color: var(--color-white);
            }
        }
    }
}