.cart {

    &__inner {
       display: grid;
       grid-template-columns: 4.2fr 9.5fr;
       gap: 24px; 

       @media screen and (max-width: 1199.98px) {
        grid-template-columns: 1fr;
       }
    }

    &__head {
        padding: 40px;
        color: var(--color-white);
        background: linear-gradient(180deg, #134391 0%, #081A38 100%);
        min-height: 560px;
        border-radius: 24px;
        overflow: hidden;

        @media screen and (max-width: 1199.98px) {
            min-height: unset;
        }

        @media screen and (max-width: 767.98px) {
            padding: 20px;
            border-radius: 16px;
        }
        
        &-title {
            font-size: 24px;
            line-height: 1.1;
            font-weight: 600;
            margin-bottom: 24px;
        }

        &-desc {
            font-size: 18px;
            line-height: 1.1;

            @media screen and (max-width: 767.98px) {
                font-size: 14px;
            }

            p {
                margin: 0;
            }

            p:not(:last-child) {
                margin-bottom: 16px;
            }
        }
    }

    &__main {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        justify-content: space-between;
        padding: 24px;
        background-color: #E8E9EE;
        border-radius: 24px;

        @media screen and (max-width: 767.98px) {
            gap: 24px;
            background-color: transparent;
            padding: 0;
        }
    }

    &__btn {
        max-width: 360px;
        width: 100%;
        margin-left: auto;

        @media screen and (max-width: 767.98px) {
            max-width: 100%;
        }
    }
}

.cart-table {
    width: 100%;

    &__head {
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 8fr 200px 45px;
        gap: 40px;
        align-items: center;
        padding: 12px 17px;

        @media screen and (max-width: 767.98px) {
            display: none;
        }

        &-cell {
            font-size: 14px;
            line-height: 1.1;
            text-transform: uppercase;
        }
    }

    &__row {
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 8fr 200px 45px;
        gap: 40px;
        align-items: center;
        padding: 12px 17px;
        background-color: #E0E3EB;
        border-radius: 32px;

        @media screen and (max-width: 1199.98px) {
            grid-template-columns: 2fr 8fr 120px 45px;
        }

        @media screen and (max-width: 767.98px) {
            grid-template-columns: 140px 1fr;
            gap: 12px 8px;
            padding: 20px;
            border-radius: 16px;
        }

        &:not(:last-child) {
            margin-bottom: 16px;

            @media screen and (max-width: 767.98px) {
                margin-bottom: 12px;
            }
        }
    }

    &__title,
    &__code {
        font-size: 16px;
        line-height: 1.1;
        font-weight: 600;

        @media screen and (max-width: 767.98px) {
            grid-column: span 2;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 767.98px) {
            justify-content: flex-end;
        }
    }

    &__remove {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        color:  var(--color-primary);
        border: none;
        outline: none;
        padding: 0;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;


        @media (any-hover: hover) {
            &:hover {
                background-color: var(--color-primary);
                color: var(--color-white);
            }
        }

        &::before {
            content: '';
            width: 15px;
            height: 19px;
            mask: url('../../img/icons/trash.svg') center center / 15px no-repeat;
            -webkit-mask: url('../../img/icons/trash.svg') center center / 15px no-repeat;
            background-color: currentColor;
        }
    }
}