.footer {
    padding-top: 80px;

    @media screen and (max-width: 767.98px)  {
        padding-top: 40px;
    }

    &__inner {
        padding: 16px 0 32px;
        border-top: 1px solid var(--color-border);
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        gap: 50px;

        @media screen and (max-width: 991.98px) {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        @media screen and (max-width: 767.98px) {
            gap: 0;
        }
    }

    &__main {

        @media screen and (max-width: 991.98px) {
            display: contents;
        }
    }

    &__top {
        width: 100%;
        display: flex;
        align-items: flex-start;
        gap: 24px;
        margin-bottom: 40px;

        @media screen and (max-width: 991.98px) {
            margin-bottom: 0;
        }

        @media screen and (max-width: 767.98px) {
            display: contents;
        }
    }
    

    &__logo {

        @media screen and (max-width: 767.98px)  {
            display: block; 
            width: 198px;
            margin-bottom: 24px;
        }
    }

    &__nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding-top: 15px;

        @media screen and (max-width: 767.98px) {
            padding-top: 0;
            padding-left: 20px;
            margin-bottom: 50px;
        }

        &-link {
            font-size: 16px;
            line-height: 1.1;
            font-weight: 500;
        }
    }

    &__contacts {
        max-width: 250px;
        width: 100%;
        padding-top: 15px;
        margin-left: auto;

        @media screen and (max-width: 767.98px) {
            max-width: 100%;
            margin-left: 0;
            padding-top: 0;
            order: 98;
            margin-bottom: 40px;
        }

        &-top {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
            padding-bottom: 24px;
            margin-bottom: 24px;
            border-bottom: 1px solid var(--color-border);

            @media screen and (max-width: 767.98px) {
                gap: 24px;
                margin-bottom: 16px;
                padding-left: 24px;
            }
        }

        &-address {
            font-size: 14px;
            line-height: 1.1;

            @media screen and (max-width: 767.98px) {
                font-size: 12px;
            }
        }

        &-links {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;

            @media screen and (max-width: 767.98px) {
                gap: 12px;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                padding-left: 24px;
            }
        }

        &-link {
            font-size: 16px;
            line-height: 1.1;
            font-weight: 500;

            @media screen and (max-width: 767.98px) {
                font-size: 14px;
            }
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        margin-top: auto;

        @media screen and (max-width: 991.98px) {
            margin-top: auto;
            order: 99;
        }
    }

    &__map {
        position: relative;
        height: auto;
        min-height: 300px;
        border-radius: 28px;
        overflow: hidden;
        filter: grayscale(1);

        @media screen and (max-width: 991.98px) {
            min-height: 200px;
            height: 200px;
            border-radius: 20px;
        }

        @media screen and (max-width: 767.98px) {
            height: 300px;
            margin-bottom: 24px;
        }

        iframe {
            display: block;
            width: 100%;
            height: 100%;
        }
    }


    &__policy {
        font-size: 12px;
        line-height: 1.1;

        @media screen and (max-width: 767.98px) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            font-size: 10px;
            padding-left: 24px;
        }
    }

    &__copyright {
        font-size: 12px;
        line-height: 1.1;
        color: var(--color-black-25);

        @media screen and (max-width: 767.98px) {
            font-size: 10px;
            padding-left: 24px;
        }
    }
}