.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px 0 0 0;
    z-index: 99;

    &--white {

        .header__inner {
            background: #8589945C;
        }

        .header__logo {
            background-color: transparent;

            .logo-white {
                display: block;
            }

            .logo-primary {
                display: none;
            }
        }
    }

    &--open-catalog {

        .header__inner {
            border-radius: 40px 40px 0 0;
        }

        .header__catalog {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }

    &__wrapper {
        position: relative;
        padding: 24px;

        @media screen and (max-width: 767.98px) {
            padding: 8px;
        }
    }

    &__inner {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #F3F4F84A;
        border-radius: 40px;
        backdrop-filter: blur(35px);
        padding: 0 8px 0 0;
        transition: 0.4s ease-in-out;

        @media screen and (max-width: 767.98px) {
            padding-right: 6px;
        }
    }

    &__nav {

        @media screen and (max-width: 1279.98px) {
            display: none;
        }

        &-list {
            display: flex;
            align-items: center;
            gap: 40px;
        }

        &-link {
            color: var(--color-white);
        }
    }

    &__logo {
        border-radius: 40px;
        background-color: var(--color-white);

        @media screen and (max-width: 767.98px) {
            display: flex;
            align-items: center;
            width: 128px;
            height: 40px;
        }

        .logo-white {
            display: none;
        }
    }

    &__action {
        display: flex;
        align-items: center;
        gap: 16px;

        @media screen and (max-width: 767.98px) {
            gap: 12px;
        }
    }

    &__tel {
        color: var(--color-white);
        font-weight: 700;
        line-height: 1.25;

        @media screen and (max-width: 767.98px) {
            display: none;
        }
    }

    &__burger {
        display: none;

        @media screen and (max-width: 767.98px) {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            border: none;
            background-color: transparent;
            outline: none;
            user-select: none;
            padding: 0;

            &-close {
                display: none;
            }

            &.is-active {

                &-close {
                    display: block;
                }

                &-default {
                    display: none;
                }
            }
        }
    }

    &__basket {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        flex-shrink: 0;
        background-color: var(--color-white);

        @media screen and (max-width: 767.98px) {
            width: 32px;
            height: 32px;
        }

        &-icon {
            display: block;
            width: 22px;
            height: 18px;
            margin: 2px 4px 0 0;
        }

        &-counter {
            position: absolute;
            top: 6px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 13px;
            height: 13px;
            font-size: 7px;
            line-height: 1.1;
            font-weight: 600;
            color: var(--color-white);
            background-color: var(--color-red);
            border-radius: 50%;

            @media screen and (max-width: 767.98px) {
                top: 4px;
            }
        }
    }

    &__catalog {
        position: absolute;
        width: calc(100% - 48px);
        top: calc(100% - 24px);
        left: 24px;
        right: 24px;
        padding: 32px 20px 24px;
        background-color: #F3F4F84A;
        border-radius: 0 0 40px 40px;
        backdrop-filter: blur(35px);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: 0.4s ease-in-out;
        
        &-grid {
            display: grid;
            grid-template-columns: repeat(15, 1fr);
            gap: 16px;
        }

        &-block {
            grid-column: span 3;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            gap: 12px;
            padding: 24px;
            background-color: var(--color-white);
            border-radius: 24px;

            &--xl {
                grid-column: span 5;
            }

            &-title {
                font-size: 18px;
                line-height: 1.1;
                font-weight: 600;
            }

            &-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 32px;
                height: 32px;
                margin-left: auto;
                border-radius: 50%;
                background: linear-gradient(90deg, #071C39 0%, #194B8E 49.52%, #071C39 100%);

                &::before {
                    content: '';
                    width: 32px;
                    height: 32px;
                    background: url('../../img/icons/arrow-right.svg') center center / 32px no-repeat;
                }
            }
        }
    }
}