body {
    font-family: var(--font-primary);
    font-size: 16px;
    line-height: 1.25;
    color: var(--color-primary);
    background-color: var(--color-main-bg);
}

.container {
    max-width: var(--container);
    width: 100%;
    padding: 0 var(--pad);
    margin: 0 auto;

    @media screen and (max-width: 767.98px) {
        padding: 0 10px;
    }
}

.section {
    padding: 16px 0;

    +.section {
        padding-top: 0;
    }
}

.line-link {
    position: relative;
    text-decoration: none
}

.line-link:after {
    background: currentColor;
    bottom: -2px;
    content: "";
    height: 1px;
    position: absolute;
    right: 0;
    transition: .25s;
    width: 0
}

@media screen and (hover: hover) {
    .line-link:hover:after {
        left: 0;
        right: auto;
        width: 100%
    }
}