@font-face {
    font-family: 'TikTok Sans';
    src: url('../fonts/TikTokSans_24pt_Expanded-Regular.woff') format('woff'),
        url('../fonts/TikTokSans_24pt_Expanded-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'TikTok Sans';
    src: url('../fonts/TikTokSans_24pt_Expanded-Medium.woff') format('woff'),
        url('../fonts/TikTokSans_24pt_Expanded-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'TikTok Sans';
    src: url('../fonts/TikTokSans_24pt_Expanded-SemiBold.woff') format('woff'),
        url('../fonts/TikTokSans_24pt_Expanded-SemiBold.woff2') format('woff2');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'TikTok Sans';
    src: url('../fonts/TikTokSans_24pt_Expanded-Bold.woff') format('woff'),
        url('../fonts/TikTokSans_24pt_Expanded-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}